
body {
  margin: 0;
  overflow-x: hidden;
}
.fa-chevron-right:before {
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
  padding: 8px;
  position: relative;
  top: 0px;
}
.fa-chevron-left:before {
  font: normal normal normal 14px/1 FontAwesome;
}
i {
  font: normal normal normal 14px/1 FontAwesome;
}
a:focus,a:hover {
  /* color: #000; */
  text-decoration: none;
  outline: 0;
}
a {
  color: #000;
  font-family: 'Poppins-Regular';
  cursor: pointer;
}
a:active,a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
img {
  max-width: 100%;
}
.row {
  margin: 0;
  padding: 0;
}
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,
.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9 {
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: disc;
  font-size: 18px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 300;
  font-family: 'Poppins-Regular';
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins-Bold';
  font-weight: 400;
}
p{
  font-size: 18px;
  font-family: 'Poppins-Regular';
}
span {
  color: #000;
  font-family: 'Poppins-Regular';
}
strong {
  font-weight: 600;
  font-size: 18px;
  color: #000;
  font-family: 'Poppins-Regular';
}
b{
  font-weight: 600;
  font-size: 18px;
  color: #000;
  font-family: 'Poppins-Regular';
}
.no-margin {
  margin: 0;
}
.container-fluid {
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  padding: 0;
  max-width: 1260px;
  margin: 0 auto;
  width: auto;
}
#button {
    display: inline-block;
    background-color: #caa200;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button.show {
    opacity: 1;
    visibility: visible;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
    position: absolute;
    left: 10px;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.contact_call_content_tam p:hover {
    color: #0e2b41;
}
#button:hover::after {
    top: -10px;
}
#button:hover {
    cursor: pointer;
    background-color: #000000;
}
.svg{
  position: absolute;
  width: 0;
  height: 0;
}	
.slick-initialized .slick-slide{
    outline:unset;	
}	
/****Mega Menu*****/
ul.megamenu {
    padding: 0;
    box-shadow: 3px 3px 19px 5px #00000066;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    background-color: #ffffff;
    left: 0em;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 999;
    color: #000;
    text-align: center;
    margin: 0 auto;
    margin-top: 7px;
    transform: translate(0, 20px);
}
.header-nav nav>ul>li:hover ul.megamenu {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}
.header-nav nav ul.megamenu ul {
    width: 100%;
    margin-bottom: 0;
      color: #000;
    box-shadow: none;
    padding-left: 0;
    border-top: 5px solid #bc901c;
    border-bottom: 5px solid #bc901c;
    padding: 1em 1em;
    float: left;
}
.header-nav nav>ul>li ul.megamenu ul li {
    width: 48%;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    float: left;
    margin: 0 5px;
}
.header-nav nav>ul>li ul.megamenu ul li a {
  font-size: 18px;
  font-weight: 500;
  text-transform:capitalize;
  font-size: 17px;
  line-height: 16px;
  color: #000;
  font-weight: 600;	
  -webkit-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;	
}
.header-nav nav>ul>li ul.megamenu ul li a:hover {
    color: #c2951d;
}
ul.megamenu.megamenu1 {
    left: 0em;
}
.header-nav nav ul li ul li:after{
    content:unset;		
}
/*****************************************************Homepage****************************************************/
.header-nav nav {
  width: 100%;
  font-size: 16px;
}
.mobile-top-head {
  display: none;
}
.svg {
  position: absolute;
  width: 0;
  height: 0;
}
.header-nav nav>ul {
  position: relative;
  display: block;
  text-align: right;
  float:left;
  padding: 0;
  margin:0;
  width:100%;	
}
.header-nav nav ul li {
  color: #fff;
  list-style: none;
  transition: .5s;
  margin: 0;
  padding: 0px 0px;
  text-align: center;
  display: inline-block;
  -webkit-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  position: relative;
  z-index: 9;
  /* overflow: hidden; */
}
.header-nav nav ul li:hover a {
  color: #ec202b;
  transition: 0.5s;
}  
.header-nav nav>ul>li>a {
  padding: 10px 8px 10px;
  line-height: 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  display: block;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  /* font-family: 'Poppins-Medium'; */
  font-size: 16px;
  line-height: 27px;
  color: #001e3e;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #005cb0;
  font-weight: 400;
}
.header-nav nav>ul>li.active a {
  transition: .5s;
  color: #fff;
} 

.header-nav nav ul li a:hover::after {
  transform: translate(0px,0px);
}  

.header-nav nav>ul>li>a:hover::before {
  width: 100%;
}
.header-nav nav>ul>li>a:hover::after {
  width: 100%;
} 
ul.megamenu li {
  float: left;
  width: 48%;
  letter-spacing: 0;
  margin-bottom: 10px !important;
  border-bottom: 1px solid red;
  margin: 0 6px !important;
  padding: 5px 0 !important;
  border-bottom: 1px solid #eee;
}
ul.megamenu li:hover a {
  letter-spacing: .5px;
  color: #840000 !important;
}
.header-nav nav>ul>li:hover ul.megamenu {
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
}
.header-nav nav ul.megamenu ul {
  width: 100%;
  margin-bottom: 0;
  color: #000;
  box-shadow: none;
  padding-left: 0;
  border-top: 5px solid #bc901c;
  border-bottom: 5px solid #bc901c;
  padding: 1em 1em;
  float: left;
}
.header-nav nav>ul>li ul.megamenu ul li {
  width: 48%;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  float: left;
  margin: 0 5px;
}
.header-nav nav>ul>li ul.megamenu ul li a {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 17px;
  line-height: 16px;
  color: #000;
  font-weight: 600;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.header-nav nav>ul>li ul.megamenu ul li a:hover {
  color: #c2951d
}
ul.megamenu.megamenu1 {
  left: 0
}
.header-nav nav ul li ul li:after {
  content: unset
}
.header-nav nav>ul>li:hover ul.megamenu li a:after {
  content: unset;
}
.header-nav nav ul li.open {
  background-color: #772668;
}
ul.megamenu {
  box-shadow: 3px 3px 19px 5px #00000066;
  transition: .5s;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 100%;
  width: 870px;
  z-index: 999;
  color: #000;
  margin: 7px auto 0;
  transform: translate(0,20px);
  -webkit-perspective: 1000;
  transform-origin: top;
  -webkit-transform-origin: top;
  transform: perspective(350px) rotateX(-90deg);
  -webkit-transform: perspective(350px) rotateX(-90deg)
}
.header-nav nav>ul>li:hover ul.megamenu {
  transform: rotateX(0);
  -webkit-transform: rotateX(0);
  visibility: visible;
  opacity: 1;
  transform: translate(0,0)
}
.header-nav nav {
  width: 100%;
  font-size: 16px
}
.svg {
  width: 0;
  height: 0
}
.header_firstphone_inner,.header_firstschedule_inner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: drop-shadow(-8.09px 5.878px 17.5px rgba(0, 0, 0, .14));
  height: 70px;
  position: relative
}
.header-nav nav>ul {
    position: relative;
    display: block;
    text-align: center;
    float: left;
    margin: 0;
    width: 100%;
    padding-right: 0em;
    padding-left: 0em;
  }
.header-nav nav ul li {
  color: #fff;
  list-style: none;
  transition: .5s ease-in-out;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  -webkit-transition: .5s ease-in-out;
  position: relative;
  transition: 0.5s;
  z-index: 9
}
.header-nav nav ul li:hover a {
  color: #293140;
  transition: 1s;
  text-shadow: 0px 0px 10px #fff;
}
.header-nav nav>ul>li>a {
  padding: 10px 20px 10px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: relative;
  display: block;
  letter-spacing: 0;
  position: relative;
  color: #ffffff;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  transition: 1s;
  font-family: 'Roboto-Regular';
}
.header-nav nav>ul>li>a:hover {
    color: #fff;
    transition: 1s;
    border-bottom: 1px solid;
}
.header-nav nav>ul>li.active a {
  transition: 1s;
  color: #fff
}
.header-nav nav ul li a:hover::after {
  transform: translate(0,0)
}

ul.megamenu li {
  float: left;
  width: 48%;
  letter-spacing: 0;
  border-bottom: 1px solid #eee;
  margin: 0 6px!important;
  padding: 10px 0!important
}
ul.megamenu li a {
  font-size: 18px
}
ul.megamenu.megamenu_two {
  left: -170px
}
ul.megamenu.megamenu_three {
  left: -452px
}
ul.megamenu li:hover a {
  letter-spacing: .5px
}
.header-nav nav ul.megamenu ul {
  width: 100%;
  margin-bottom: 0;
  color: #000;
  box-shadow: none;
  border-top: 5px solid #bc901c;
  border-bottom: 5px solid #bc901c;
  padding: 1em;
  float: left
}
.header-nav nav>ul>li ul.megamenu ul li {
  width: 48%;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  float: left;
  margin: 0 5px
}
.header-nav nav>ul>li ul.megamenu ul li a {
  text-transform: capitalize;
  font-size: 17px;
  line-height: 16px;
  color: #000;
  font-weight: 600;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out
}
.header-nav nav>ul>li ul.megamenu ul li a:hover {
  color: #c2951d
}
ul.megamenu.megamenu1 {
  left: 0;
}
/******************************************Submenu***********************************************/
.header-nav nav>ul>li:hover ul.megamenu {
transform: rotateX(0);
-webkit-transform: rotateX(0);
visibility: visible;
opacity: 1;
transform: translate(0, 0);
}
ul.megamenu {
padding: 0;
box-shadow: 3px 3px 19px 5px #00000066;
position: absolute;
opacity: 0;
visibility: hidden;
transition: .5s;
background-color: #ffffff;
left: 0em;
right: 0;
top: 100%;
width: 100%;
z-index: 999;
color: #000;
text-align: center;
margin: 0 auto;
margin-top: 7px;
transform: translate(0, 20px);
}
ul.megamenu {
box-shadow: 3px 3px 19px 5px #00000066;
transition: .5s;
background-color: #fff;
left: -50px;
right: 0;
top: 100%;
width: 800px;
z-index: 999;
color: #000;
margin: 7px auto 0;
transform: translate(0, 20px);
-webkit-perspective: 1000;
transform-origin: top;
-webkit-transform-origin: top;
transform: perspective(350px) rotateX(-90deg);
-webkit-transform: perspective(350px) rotateX(-90deg);
}
ul.megamenu li {
float: left;
width: 48%;
letter-spacing: 0;
border-bottom: 1px solid #eee;
margin: 0 6px !important;
padding: 10px 0 !important;
transition: 0.5s;
}
ul.megamenu.second_mega li {
float: left;
width: 32%;
}
ul.megamenu li:hover {
background-color: #192d3f;
}
ul.megamenu li:hover a {
color: #fff !important;
}
ul.megamenu li a {
font-size: 18px;
color: #232323 !important;
}
  
/*************** Home Page ***************/

/* fixed header */

.header_wrapper.fixed{
  z-index: 9;
  position: fixed;
  background-color: #00275a;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
}
.header_wrapper.fixed .header_offersec {
    padding: 0.7em 0 0.7em 0;
}
.header_wrapper.fixed .header_logo_inner img {
    height: 60px;
} 
.header_wrapper.fixed .header_logo_inner {
    padding: 1em 1em 0em 0em;
}
.header_wrapper.fixed .header-nav{
  padding: 1.5em 0;
}


.header_wrapper {
  float: left;
  width: 100%;
  z-index: 4;
  position: relative;
  background-color: #00275a;
}
.header_firstblck {
  position: relative;
}
.header_firstright{
  position: relative;
}
.header_hle{
  position: relative;
}
.header_offer{
  display: none;
}
.header_logo{
    position: relative;
}
.header_logo_inner {
    position: relative;
    float: left;
    width: 100%;
    padding: 1.5em 1em 0em 0em;
}
.header_logo_inner a{
  font-size: 45px;
  line-height: 55px;
  font-weight: 400;
  color: #fff;
  font-family: 'Poppins-Bold';
}
/* .header_logo_inner img {
    height: 70px;
    width: 100%;
    object-fit: contain;
    object-position: left;
} */
.headertop_links{
  float: left;
  padding: 10px 0;
  display: flex;
}
.headertop_links span{
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}
.headertop_links a{
font-size: 16px;
color: #ffffff;
font-weight: 400;
position: relative;
padding-left: 5em;
}
.headertop_links a::before {
content: "";
    left: 25px;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    margin: auto;
    background-image: url(../images/home/careers_icon.webp);
    background-size: 100% 100%;
    position: absolute;
}
.header_menusec{
  float: right;
}
.header-nav {
  width: 100%;
  float: left;
  position: relative;
  padding: 2em 0;
}
.header_contdetail {
    float: right;
    position: relative;
}
a.header_shedule{
float: right;
    display: block;
    position: relative;
    padding: 7px 20px 7px 10px;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-family: 'Roboto-Regular';
    width: 145px;
    text-align: end;
    font-weight: 600;
    border-radius: 5px;
    background-color: #00132d;
    transition: 0.5s;
}
a.header_shedule:before {
    content: "\f073";
    left: 15px;
    font-size: 21px;
    color: #ffffffe3;
    font-weight: 400;
    top: 7px;
    position: absolute;
    font-family: FontAwesome;
}
.headertop_links a:hover,
.header_shedule:hover{
  transform: scale(0.9);
  color: #fff;
  transition: 0.5s;
}
.header_offersec {
    padding: 1.5em 0 1.5em 0;
    border-bottom: 1px solid #ffffff4a;
}


.bannerhme_wrapper {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.bannerhme_wrapper .container{
  position: relative;
}
.bannerhme_slic .slick-list.draggable{
  padding-bottom: 2em;
}
.bannerhme_image::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/home/banner_shape.webp);
    background-position: center;
    background-size: 100% 100%;
    z-index: 0;
}

.waveCanvas {
    position: absolute;
    bottom: 0;
    left: -2em;
    width: 103%;
    height: 315px;
}

.bannerhme_image img,
.bannerhme_image video {
  height: 850px;
  float: right;
  width: 50%;
  object-fit: cover;
  object-position: center;
}
.bannerhme_content {
  position: absolute;
  bottom: 0em;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 45%;
  z-index: 3;
}
.bannerhme_content_inner {
  display: flex;
  height: 100%;
  text-align: left;
  padding: 0em 0 2em 0;
  flex-direction: column;
  justify-content: center;
}
.bannerhme_image {
  overflow: hidden;
  position: relative;
}
.avatar_img{
  position: absolute;
  bottom: 0em;
  top: 0;
  right: 0;
  margin: auto 0;
  height: 100%;
}
.avatar_img img{
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 700px;
}
.bannerhme_content_inner span{
  font-size: 34px;
  color: #fff;
  line-height: 46px;
  font-weight: 500;
  display: inline-block;
  font-family: 'Poppins-Medium';
  margin-bottom: 0.5em;
}
.bannerhme_content_inner h1,
.bannerhme_content_inner h2{
  font-size: 45px;
  line-height: 55px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0.5em;
  position: relative;
}
.bannerhme_content_inner p{
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
}
.banner-btns{
  gap: 15px;
  display: flex;
  position: relative;
  margin-top: 1.5em;
}
a.view-btn {
  font-family: 'Poppins-Medium';
  color: #fff;
  background-color: #00a0dc;
  border-radius: 5px;
  padding: 10px 45px 10px 15px; 
  font-size: 16px;
  line-height: 24px;
  transition: 0.5s;
  position: relative;
}
a.view-btn::before {
    content: "\f061";
    position: absolute;
    top: 10px;
    right: 13px;
    font-family: FontAwesome;
    font-size: 20px;
    color: #fff;

}
a.resume-btn{
  font-family: 'Poppins-Medium';
  color: #002139;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 45px 10px 15px; 
  font-size: 16px;
  line-height: 24px;
  transition: 0.5s;
  position: relative;
}
a.resume-btn::before {
    content: "\f019";
    position: absolute;
    top: 10px;
    right: 13px;
    font-family: FontAwesome;
    font-size: 20px;
    color: #002139;
}
a.view-btn:hover,
a.resume-btn:hover
{
  transform: scale(0.9);
  transition: 0.5s;
}
.banner-social-links{
    position: relative;
    margin-top: 2em;
}
.banner-social-links ul li{
  display: inline-block;
  margin-right: 20px;
}
.banner-social-links ul li a{
  color: #fff;
  font-size: 28px;
  line-height: 38px;
  transition: 0.5s;
}
.banner-social-links ul li a:hover{
  transition: 0.5s;
  color: #14b6f1;
}


.hme_first_block{
    float: left;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
}
.hme_first_inner{
    float: left;
    width: 100%;
    margin: 2em 0;
}
.hme_first_imageblk{
    float: right;
}
.hme_first_image{
  float: left;
  margin-left: 5em;
  margin-bottom: 3em;
  position: relative;
}
.hme_first_image::before{
    position: absolute;
    content: '';
    right: -15px;
    top: unset;
    bottom: -15px;
    width: 100%;
    height: 100%;
    border: 2px solid #1a73e84f;
    border-radius: 35px;
    z-index: -1;
}
.hme_first_image::after{
  position: absolute;
    content: '';
    right: -30px;
    top: unset;
    bottom: -30px;
    width: 102%;
    height: 100%;
    border: 2px solid #1a73e84f;
    border-radius: 35px;
    z-index: -2;
}
.hme_first_image img{
  object-fit: cover;
  width: 100%;
  height: 600px;
  object-position: center;
  border-radius: 35px;
  filter: drop-shadow(10.5px 18.187px 18.5px rgba(26,115,232,0.14));
}
.hme_first_inner span{
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  font-family: 'PlayfairDisplay-Bold';
}
.hme_first_inner h3,
.hme_first_inner h2{
  font-size: 40px;
  line-height: 50px;
  color: #002139;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.hme_first_inner p{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
}
.hme_second_content{
  position: relative;
  float: right;
  padding-top: 4em;
}
.hme_second_content ul{

}
.hme_second_content ul li {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 400;
  display: flow-root;
  padding-left: 2em;
  margin-bottom: 10px;
  position: relative;
}
.hme_second_content ul li::before {
    content: "\f101";
    position: absolute;
    top: 0px;
    left: 0;
    font-family: FontAwesome;
    font-size: 23px;
    color: #005c9d;
}

/* myskills block */
.Myskills_block{
  float: left;
  width: 100%;
  margin: 0 0 2em 0;
}
.Myskills_block_inner{
  float: left;
  width: 100%;
}
.Myskills_single_inner{
  position: relative;
  margin: 0 10px;
  padding: 1em 1em 1em 1em;
}
.Myskills_icon{
  float: left;
  width: 100%;
  min-height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Myskills_icon svg{
  width: 80px;
  vertical-align: middle;
}
.Myskills_block_inner > .Myskills_single:nth-of-type(1) svg{
    fill:#E34F26;
}
.Myskills_block_inner > .Myskills_single:nth-of-type(2) svg{
    fill:#1572B6;
}
.Myskills_block_inner > .Myskills_single:nth-of-type(3) svg{
    fill:#F7DF1E;
}
.Myskills_block_inner > .Myskills_single:nth-of-type(4) svg{
    fill:#7952B3;
}
.Myskills_block_inner > .Myskills_single:nth-of-type(5) svg{
    fill:#61DAFB;
}
.Myskills_block_inner > .Myskills_single:nth-of-type(6) svg{
    fill:#21759B;
}
.Myskills_content{
  text-align: center;
  float: left;
  width: 100%;
  padding: 1em 0;
}
.Myskills_content h3{
  font-size: 21px;
  line-height: 30px;
  font-family: 'Poppins-Medium';
  color: #002139;
  font-weight: 600;
}

.Sectors_block{
    float: left;
    width: 100%;
    position: relative;
}
.Sectorsblk_hle{
    float: left;
    width: 100%;
}
.Sectorsblk_title{
    float: left;
    width: 100%;
    margin: 2em 0;
}
.Sectorsblk_title h3{
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
    color: #002139;
}
.Sectorsblk_title p{
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 400;
}
.Sectorsblk_inner{
    float: left;
    width: 100%; 
}
.hme_Sectors_slick{
    float: left;
    width: 100%; 
    position: relative;
}
.hme_Sectors_slick::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 70px;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #cacaca;
}
.hme_Sectors_single{
  float: left;
}
.hme_Sectors_single_inner{
  float: left;
  position: relative;
  border-radius: 10px;
  margin: 0 10px;
  background-color: #ffffff;
}
.Sectors_single_image{
  position: relative;
  float: left;
  min-height: 300px;
  width: 100%;
}
.Sectors_single_image img{
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 300px;
}
.Sectors_single_content{
  padding: 1em 1em;
  float: left;
  width: 100%;
}
.Sectors_single_content h4{
  font-size: 21px;
  line-height: 30px;
  color: #002139;
  font-weight: 500;
}
.Sectors_single_content p{
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 300;
}
.Sectors_single_content span {
    font-size: 16px;
    color: #002139;
    font-weight: 600;
}
.Sectors_single_content ul {
    margin: 7px 0;
}
.Sectors_single_content ul li {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  display: flow-root;
  padding-left: 2em;
  margin-bottom: 0px;
  position: relative;
}
.Sectors_single_content ul li::before {
  content: "\f2d1";
  position: absolute;
  top: -5px;
  left: 0;
  font-family: FontAwesome;
  font-size: 14px;
  color: #005c9d;
}
.Sectors_single_content strong {
    font-size: 13px;
  color: #005c9d;
}
a.view_sectors_link{
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #005c9d;
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid;
}
.hme_Sectors_slick .slick-list.draggable{
  padding: 2em 0 5em 0;
}
.hme_Sectors_slick .slick-active+.slick-active .hme_Sectors_single_inner{
  filter: drop-shadow(0px 20px 25px rgba(26,39,67,0.12));
}
.hme_Sectors_slick .slick-active+.slick-active+.slick-active .hme_Sectors_single_inner{
  filter: unset;
}
.hme_Sectors_slick .slick-active+.slick-active+.slick-active .Sectors_single_image{
  background-color: #005c9d;
}

.hme_second_block{
    float: left;
    width: 100%;
    margin: 2em 0;
}
.hme_second_inner{
    float: left;
    width: 100%;
}
.hme_second_inner p{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
}
.hme_second_inner h3{
  font-size: 40px;
  line-height: 50px;
  color: #002139;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.hme_second_inner span,
.hme_second_inner strong{
    display: block;
    font-size: 24px;
    line-height: 36px;
    color: #002139;
    font-weight: 600;
    font-family: 'Poppins-Medium';
    margin-bottom: 5px;
}
.hme_second_inner strong{
  font-size: 20px;
  line-height: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.hme_second_image{
  position: relative;
  float: left;
  margin-right: 5em;
  margin-bottom: 2em;
}
.hme_second_image img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 550px;
  border-radius: 60px;
  filter: drop-shadow(5.071px 10.876px 17.5px rgba(26,115,232,0.34));
  border: 1px solid #ffffff;
}
.hme_second_image::before {
    position: absolute;
    content: '';
    left: -35px;
    top: -35px;
    width: 100%;
    height: 100%;
    border: 5px solid #eaeff5;
    border-radius: 20px;
    z-index: -2;
}
.hme_second_image::after {
    position: absolute;
    content: '';
    right: -35px;
    top: -65px;
    width: 40%;
    height: 37%;
    border-radius: 30px;
    background-color: #005c9d;
    z-index: -3;
}
.hme_second_inner ul li {
font-size: 18px;
    line-height: 30px;
  color: #000;
  font-weight: 400;
  display: flow-root;
  padding-left: 2em;
  margin-bottom: 5px;
  position: relative;
}
.hme_second_inner ul li::before {
    content: "\f101";
    position: absolute;
    top: 0px;
    left: 0;
    font-family: FontAwesome;
    font-size: 24px;
    color: #005c9d;
}
.hme_secondblk_secondcontent {
    float: right;
    padding: 2em 1em 2em 2em;
    border: 1px solid #cacacaa6;
}
.hme_secondblk_secondcontent h4{
  font-size: 24px;
  line-height: 30px;
  color: #002139;
  font-weight: 600;
  font-family: 'Poppins-Medium';
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
  margin: 0 0 0.5em 0; 
}
.hme_secondblk_secondcontent h4::before {
    content: "\f091";
    position: absolute;
    top: 0px;
    left: -2px;
    font-family: FontAwesome;
    font-size: 25px;
    color: #298fd9;
}

/* whychooseme block */

.whychooseme_block{
  float: left;
  width: 100%;
  margin: 1em 0 2em 0;
  padding: 0em 0 2em 0;
}
.whychooseme_title{
  float: left;
  width: 100%;
  margin: 2em 0;
  text-align: center;
}
.whychooseme_title h3{
  display: inline-block;
  font-size: 40px;
  border-bottom: 2px solid #00a0dc;
  line-height: 50px;
  color: #0a2d44;
  font-family: 'Poppins-Bold';
}
.whychooseme_inner{
  float: left;
  width: 100%;
  margin: 2em 0;
  position: relative;
}
.whychooseme_inner::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 103%;
  height: 35%;
  margin: auto 0;
  background-size: 100% 100%;
  background-image: url(../images/home/arrows_set.webp);
}
.whychooseme_single_inner{
  float: left;
  display: flex;
  flex-direction: column;
  gap: 10em;
  margin: 0 0px;
  text-align: center;
}
.whychooseme_single_icon{
  width: 100%;
  margin: 0 auto;
  max-width: 95px;
  height: 95px;
  border-radius: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.whychooseme_single_icon::after {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    z-index: -1;
    width: 104%;
    height: 104%;
    background: linear-gradient(60deg, #093861, #00a0dc, #051a29);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 70px;
}
.whychooseme_single_content h3{
    font-size: 18px;
    line-height: 30px;
    color: #00a0dc;
    font-weight: 500;
    font-family: 'Poppins-Bold';
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whychooseme_single:nth-child(even) .whychooseme_single_inner{
  flex-direction: column-reverse;
}
.whychooseme_single:nth-child(even) .whychooseme_single_content h3{
    color: #0a2d44;
}

.hme_insights_block{
    float: left;
    width: 100%;
    padding: 2em 0;
    margin: 2em 0;
}
.hme_insights_hle{
    float: left;
    width: 100%;
}
.hme_insights_title{
    float: left;
    margin-bottom: 2em;
}
.hme_insights_title h3{
  font-size: 40px;
  line-height: 50px;
  color: #002139;
  font-weight: 400;
}
.hme_insights_title p{
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}
.hme_insights_inner{
    float: left;
    width: 100%; 
}
.hme_insights_slick{
    float: left;
    width: 100%; 
}
.hme_insights_single_inner{
  top: 0em;
  float: left;
  position: relative;
  margin: 0 15px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #eaeff5;
}
.hme_insights_single_image{
  position: relative;
    float: left;
    width: 100%; 
}
.hme_insights_single_image img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 450px;
  border-radius: 5px;
  filter: drop-shadow(0 0 3.5px rgba(0, 0, 0, 0.15));
}
.hme_insights_single_content{
  padding: 1em 0em;
  float: left;
}
.hme_insights_single_content h4{
  font-size: 20px;
  line-height: 30px;
  font-family: 'Poppins-Bold';
  color: #002b55;
  font-weight: 500;
  letter-spacing: -0.5px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 15px;
}
a.insights_readbtn{
  font-size: 18px;
  color: #00a0dc;
  font-weight: 400;
}
.hme_insights_slick .slick-list.draggable{
  padding: 2em 0 4em 0;
}
.hme_insights_slick .slick-active+.slick-active .hme_insights_single_inner{
  top: 4em;
}
.hme_insights_slick .slick-active+.slick-active+.slick-active .hme_insights_single_inner{
  top: 0em;
}


.footer_wrapper {
  margin-top: 4em;
  float: left;
  width: 100%;
  position: relative;
  z-index: 3;
  background-image: url(../images/home/footerbg.webp);
  background-size: 100% 100%;
}
.footertop_top_section{
    float: left;
    width: 100%;
    position: relative;
    top: -4em;
}
.footertop_top_inner{
    float: left;
    width: 100%;
    padding: 3em 0;
    background-image: url(../images/home/footer_top_bg.webp);
    background-size: 100% 100%;
    filter: drop-shadow(0px -5px 10px rgba(0, 0, 0, 0.6));
}
.footertop_title{
  float: left;
}
.footertop_title h4{
    font-size: 32px;
    line-height: 40px;
    /* margin: 0 auto; */
    color: #ffffff;
    font-weight: 400;
    text-align: left;
    padding-left: 1.5em;
}
.footertop_schedule{
    float: left;
    text-align: end;
    padding-right: 3em;
}
a.footer_schedulebtn{
font-size: 21px;
    color: #005cb5;
    font-weight: 600;
    display: inline-block;
    position: relative;
    background-image: url(../images/home/footerbtn_bg.webp);
    background-size: 100% 100%;
    padding: 15px 25px 15px 10px;
    width: 225px;
    text-align: end;
}
a.footer_schedulebtn::before{
  position: absolute;
  content: '';
    left: 25px;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    margin: auto 0;
  background-size: 100% 100%;
  background-image: url(../images/home/header-calendar-icon.webp);
}
.footer_wrap{
  margin-top: 2em;
  float: left;
  width: 100%;
  padding: 4em 0em 0em;
}
.footerfirst_section {
  float: left;
  width: 100%;
}
.footer_wrap_inner{
  float: left;
  width: 100%;
}
.footerfirst_content{
  float: left;
}
.footer_logo{
  float: left;
  width: 100%;
  margin-bottom: 2em;
}
.footer_logo a {
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    font-family: 'Poppins-Bold';
}
.footerfirst_content_inner{
  float: left;
  padding-right: 4em;
}
.footerfirst_content_inner p {
  font-size: 16px;
  line-height: 26px;
  color:  #fff;
  font-weight: 400;
  text-align: left;
}
.footerfirst_content_inner a{
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #cccccc;
    padding: 5px 15px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 400;
    margin: 10px 0;
    display: inline-block;
}
.footerfirst_menu h4,.footersec_menu h4{
  font-size: 24px;
  line-height: 30px;
    color:  #fff;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff24;
  position: relative;
  display: inline-block;
}
.footerfirst_lastaddress h4 {
  font-size: 24px;
  line-height: 30px;
  color:  #fff;
  font-weight: 400;
  margin: 0 0 1em 0;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff24;
}
.footerfirst_menu {
  width: 30%;
  padding-left: 5em;
  padding-top: 0em;
}
.footerfirst_menu ul li {
  float: left;
  width: 50%;
  list-style-type: none;
}

.footersec_menu {
    width: 25%;
    padding-left: 3em;
    padding-top: 3em;
}
.footersec_menu ul li{
  float: left;
  list-style-type: none;
  width: 100%;
}
.footerfirst_menu ul li a,
.footersec_menu ul li a{
  font-size: 16px;
  line-height: 35px;
  color:  #fff;
  font-weight: 400;
  transition: 0.5s;
}
.footerfirst_menu ul li a:hover {
  color: #92e3fb;
  transition: 0.5s;
}
.footerfirst_lastaddress a.footer_contact_call{
    display:block;
    font-size: 21px;
    line-height: 28px;
    color: #fff;
    font-weight: 600;
    position: relative;
    padding-left: 2em;
    margin-bottom: 20px;
}
.footerfirst_lastaddress a.footer_contact_call::before{
  content: '';
  position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   height: 20px;
   width: 20px;
   background-image: url('../images/home/footer-phone.webp');
   background-size: 100% 100%;
}
.footerfirst_lastaddress a.footer_contact_mail{
    display:block;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    font-weight: 100;
    position: relative;
    padding-left: 2em;
    margin-bottom: 20px;
}
.footerfirst_lastaddress p{
    display:block;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    font-weight: 100;
    position: relative;
    padding-left: 2em;
    margin-bottom: 20px;
}
.footerfirst_lastaddress p::before{
    content: "\f041";
    position: absolute;
    top: 4px;
    left: 0;
    font-family: FontAwesome;
    font-size: 26px;
    color: #fff;
}
.footerfirst_lastaddress a.footer_contact_mail::before{
  content: '';
  position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   height: 20px;
   width: 20px;
   background-image: url('../images/home/footer-mail.webp');
   background-size: 100% 100%;
}
.footerfirst_lastmenu {
    width: 30%;
    position: relative;
    padding-top: 0em;
    padding-left: 5em;
    z-index: 1;
}
.footerbottom_section {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #0050a3;
  margin-top: 2em;
  padding: 1em 0;
}
.footer_copyrights p {
  margin: 5px 0 0 0;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
}
.footer_iboostlogo {
  text-align: right;
}


/********************* responsive ***************************/

/******** Large Screens *******/
@media only screen and (min-width:1400px) {

}
@media only screen and (min-width:1500px) {

}
@media only screen and (min-width:1600px) {

}
@media only screen and (min-width:1700px) {

}
@media only screen and (min-width:1800px) {

}
@media only screen and (min-width:1920px) {

}
@media only screen and (min-width:2560px) {

}

/******** Small Screens *******/
@media only screen and (max-width:1300px) {
  .container{
    padding: 0 15px;
  }

  .header_logo_inner a {
    font-size: 40px;
    line-height: 50px;
  }
  .header_wrapper.fixed .header_logo_inner,
  .header_logo_inner {
    padding: 0.9em 0em 0em 0em;
  }
  .header_wrapper.fixed .header-nav,
  .header-nav {
      padding: 1em 0;
  }
  .bannerhme_content {
      left: 1em;
  }
  .bannerhme_image img, .bannerhme_image video {
      height: 750px;
  }
  .Sectors_single_content h4 {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.5px;
  }
  .whychooseme_inner::after {
      width: 100%;
  }
  .footerfirst_lastaddress a.footer_contact_mail {
      font-size: 15px;
  }
  .footerfirst_lastaddress p {
      font-size: 14px;
      line-height: 24px;
  }


}
@media only screen and (max-width:1200px) {
  .header_logo_inner a {
    font-size: 36px;
    line-height: 46px;
  }
  .bannerhme_image img, .bannerhme_image video {
      height: 650px;
  }
  .bannerhme_content_inner span {
      font-size: 20px;
  }
  .bannerhme_content_inner h1, .bannerhme_content_inner h2 {
      font-size: 40px;
      line-height: 50px;
  }
  .footertop_top_inner{
    padding: 1em 0;
  }

}
@media only screen and (max-width:992px) {

.bannerhme_content_inner h1, .bannerhme_content_inner h2 {
  font-size: 34px;
  line-height: 40px;
}
.header_logo_inner a {
  font-size: 30px;
  line-height: 40px;
}
.header-nav nav>ul>li>a {
  padding: 10px 10px 10px;
  font-size: 16px;
}
.footerfirst_lastmenu {
  padding-left: 0em;
}  
.footerfirst_menu {
  padding-left: 1em;
}
.footertop_title h4 {
    font-size: 24px;
    line-height: 36px;
    padding-left: 1em;
}
.bannerhme_image img, .bannerhme_image video {
  height: 500px;
}
a.view-btn {
  border-radius: 5px;
  padding: 7px 40px 7px 10px;
  font-size: 14px;
}
a.resume-btn {
  padding: 7px 40px 7px 10px;
  font-size: 14px;
}
.banner-social-links ul li a {
    font-size: 20px;
    line-height: 30px;
}
.bannerhme_content{
  width: 50%;
}
.hme_first_inner h3, .hme_first_inner h2 {
    font-size: 28px;
    line-height: 36px;
}
.hme_Sectors_single_inner{
  margin: 0 5px;
}
.Sectors_single_image {
    min-height: 170px;
}
.Sectors_single_image img{
  height: 170px;
}
.Sectorsblk_title h3,
.hme_insights_title h3,
.whychooseme_title h3,
.hme_insights_title h3{
    font-size: 28px;
    line-height: 36px;
}
.Myskills_icon svg {
    width: 45px;
}
.Myskills_icon {
    min-height: 60px;
}
.Myskills_content h3{
  font-size: 18px;
}
.Myskills_single_inner {
    margin: 0 5px;
}
.hme_secondblk_secondcontent h4,
.hme_second_inner span, .hme_second_inner strong {
    font-size: 20px;
    line-height: 30px;
}
.whychooseme_single:nth-child(even) .whychooseme_single_inner {
    flex-direction: column;
}
.whychooseme_single_inner {
    gap: 4em;
}
.whychooseme_single_icon {
    max-width: 75px;
    height: 75px;
}
.whychooseme_single_content h3 {
    font-size: 16px;
    line-height: 20px;
}
.whychooseme_inner::after{
  height: 27%;
}
.whychooseme_title {
    margin: 1em 0;
}
a.footer_schedulebtn {
    font-size: 18px;
    padding: 10px 25px 15px 10px;
    width: 180px;
}
.footerfirst_content_inner{
    float: left;
    padding-right: 1em;
}
.footer_logo a {
    font-size: 30px;
    line-height: 40px;
}

}
@media only screen and (max-width:767px) {
.header_logo{
  float: left;
  width: 30%;
}
.header_menusec{
  float: left;
  width: 70%;
}
.header-nav nav>ul>li>a {
  padding: 10px 3px 10px;
  font-size: 12px;
  letter-spacing: -0.5px;
}
.header_logo_inner a {
  font-size: 24px;
  line-height: 44px;
}
.bannerhme_content {
  width: auto;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00275a;
  margin: 0 -15px;
}
.bannerhme_image::after{
  content: unset;
}
.bannerhme_image img, .bannerhme_image video{
  height: 350px;
  float: left;
  width: 100%;
}
.bannerhme_content_inner {
  padding: 1em 1em 1.5em 1em;
}
.Sectorsblk_title {
    margin: 1em 0;
}
.Myskills_single {
    float: left;
    width: 50%;
}
.whychooseme_inner::after{
  content: unset;
}
.whychooseme_single_inner{
  gap: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.whychooseme_single {
    float: left;
    width: 50%;
}
.footertop_title,.footertop_schedule{
  float: left;
  width: 100%;
  text-align: center;
}
.footertop_top_inner {
  background-image: unset;
    background-color: #005ab4;
    border-radius: 5px;
}
.footer_wrapper {
    background-image: unset;
    background-color: #00132d;
}
.footerfirst_content{
  float: left;
  width: 100%;
}
.footerfirst_menu{
  float: left;
  width: 100%;
  padding: 2em 0;
}
.footerfirst_lastmenu{
  float: left;
  width: 100%;
}

}
@media only screen and (max-width:480px) {

/* mobile menu open */

  
  .mobile-header.fixed,
  .mob_navi.menu.fixed
  {
   position: fixed;
   z-index: 999;

  }
  .mobtext {
    position: absolute;
    bottom: -13px;
    right: 6px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    z-index: 999;
  }
  .mob_navi,
  .mob_navi.submenu_open {
    overflow-y: hidden;
  }
  .mob_navi,
  .submenu_open #mob_menu {
    transform: translate(-100%, 0);
    transition: 0.5s;
  }
  .mob_navi,
  .mob_navi.fixed {
    overflow-x: hidden;
    z-index: 99 !important;
    height: 100%;
  }
  .mobile-header {
    float: left;
    position: absolute;
    right: 10px;
    top: 7px;
  }
  .google_icon a,
  .mobile-header.fixed button.navbar-toggle,
  button.navbar-toggle {
    font-size: 0;
  }
  .mob_sub_navigate i,
  .mob_sub_navigate span {
    height: 35px;
    line-height: 35px;
    color: #272727;
    cursor: pointer;
  }
  .header_location,
  .header_secondblck,
  .header_secondblk,
  .header_topsec_third_inner span,
  span.menutext {
    display: none;
  }
  .header_topsec:before {
    width: 18%;
  }
  #mob_menu,
  .mob_sub_menu {
    margin: 0;
    background-color: #fff;
  }
  .header_topsec_first {
    width: 40%;
  }
  .header_topsec_second_inner {
    padding-left: 40px;
  }
  .header_topsec_second_inner:before {
    left: -40px;
  }
  .header_topsec_third {
    position: relative;
    width: 22%;
    text-align: right;
  }
  .header_topsec_third ul {
    display: inline-block;
    width: 70%;
    margin-left: 0;
    text-align: right;
  }
  .nav_mob a,
  .nav_mob ul > li {
    display: block !important;
  }
  .glyphicon,
  .mob_sub_link span {
    display: inline-block;
    position: relative;
  }
  .header_top_sec:before {
    width: 65%;
  }
  .header_top_sec:after {
    width: 38%;
    clip-path: polygon(0 0, 100% 0%, 91% 100%, 0% 100%);
  }
  .header_topsec_third_inner ul li {
    margin: 0 12px;
  }
  .header_review_inner,
  .service_home_slider ul.slick-dots {
    margin-left: 0;
  }
  .mobile-header button.navbar-toggle {
    height: 33px;
  }
  .mob_navi.fixed {
    position: fixed;
    top: 0;
    width: 350px;
  }
  .mob_navi::-webkit-scrollbar {
    width: 5px;
  }
  .mob_navi::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .mob_navi::-webkit-scrollbar-thumb {
    background: #00a0dc; 
    border-radius: 10px;
  }
  .glyphicon {
    top: 1px;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .mob_sub_navigate i {
    width: 48%;
    padding-right: 15px;
    font-size: 18px;
    text-align: right;
    float: right;
  }
  #mob_menu,
  .mobile.header,
  .nav_mob a,
  .nav_mob ul > li {
    width: 100%;
    float: left;
  }
  #mob_menu {
    padding: 0;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 2em;

  }
  .mob_navi.menu.menu_open.submenu_open1 span,
  .mob_navi.submenu_open .mob_sub_navigate span {
    opacity: 1;
  }
  #mob_menu li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
    display: unset;
  }
  .nav_mob a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid #a91f241f;
  }
  #mob_menu li a:hover {
    background-color: #00a0dc;
    color:#fff;
    transition: 0.5s;
  }
  .mob_sub_menu {
    width: 100%;
    padding: 0;
  }
  li.mob_sub_link.first-open span.fa.fa-chevron-up,
  li.mob_sub_link.second-open span.fa.fa-chevron-up,
  li.mob_sub_link.third-open span.fa.fa-chevron-up {
    opacity: 0;
    visibility: hidden;
  }
  li.mob_sub_link.first-open.active span.fa.fa-chevron-up,
  li.mob_sub_link.second-open.active span.fa.fa-chevron-up,
  li.mob_sub_link.third-open.active span.fa.fa-chevron-up {
    opacity: 1;
    visibility: visible;
  }
  li.mob_sub_link.first-open.active span.fa.fa-chevron-down,
  li.mob_sub_link.second-open.active span.fa.fa-chevron-down,
  li.mob_sub_link.third-open.active span.fa.fa-chevron-down {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .mob_sub_link span {
    font-size: 16px;
    width: 10px;
    text-align: center;
    right: 10px;
    line-height: 0px;
    cursor: pointer;
    float: right;
    margin-right: 5px;
    color: #001e3e;
    top: -27px;
  }
  .mob_sub_link:hover span{
    color: #001e3e !important;
  }
  .mob_sub_link span:hover {
    color: #001e3e !important;
  }
  .mobile.header {
    background-color: #222;
    color: #fff;
    padding: 10px 10px 10px 15px;
  }
  ul.mob_sub_menu.submenu_open {
    transform: translate(0, 0);
    transition: 0.5s;
    height: 480px;
    overflow-y: scroll;
  }
  ul.mob_sub_menu.submenu_open::-webkit-scrollbar {
    width: 3px;
  }
  ul.mob_sub_menu.submenu_open::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #09182b;
  }
  ul.mob_sub_menu.submenu_open::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
  }
  .mob_navi.menu,
  .mobile-header,
  .mobile-top-head,
  .mobile.header,
  .mobile.mobile-one {
    display: block;
  }
  .mobile-header button.navbar-toggle {
    color: #fff;
    float: left;
    margin-left: 0px;
    margin-right: 3px;
    padding: 6px 8px;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #00a0dc;
    display: block;
    border-radius: 10px;
    margin-top: 4px;
    height: 35px;
  }
  .mob_sub_navigate{
    display: none;
  }
  .mobile-logo {
    display: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .mobile-logo img{
    object-fit: contain;
    height: 107px;
    width: 100%;
    object-position: center;
  }
  .mobile-header .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .mob_navi {
    position: fixed;
    top: 0;
    width: 100%;
    border-top-left-radius: 0;
    overflow-y: scroll;
    padding-top: 4em;
    background-color: #fff;
  }
  .mob_navi.menu_open {
    transform: translate(0, 0);
  }
  .mob_sub_navigate span {
    width: 50%;
    padding-left: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
  }
  .mob_navi.menu .fixed {
    display: block;
  }
  .navbar-toggle.menu_open .header_icon {
      opacity: 0;
      display: none;
      transition: .5s;
        font-size: 0;
  }
  .navbar-toggle.menu_open .header_icon2 {
      opacity: 1;
      display: block;
      transition: .5s;
      font-size: 0;
  }
  .navbar-toggle.menu_open .header_icon2 .close-x{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto-Bold';
  }
  .mobile-header button.navbar-toggle.menu_open{
      padding: 6px 11px;
  }
  .header_icon,
  .header_icon2{
    font-size: 0;
  }

/* mobile menu close */
.header_wrapper, .header_wrapper.fixed {
    z-index: 99;
}
.header_menusec{
  display: none;
}
.header_logo {
    width: 40%;
}
.header_wrapper.fixed .header_logo_inner, .header_logo_inner {
    padding: 1em 0;
}
.bannerhme_content_inner h1, .bannerhme_content_inner h2 {
  font-size: 28px;
  line-height: 34px;
}
a.view-btn {
    font-size: 12px;
}
a.view-btn::before {
    top: 7px;
    right: 10px;
    font-size: 17px;
}
.Sectors_single_content ul li::before {
  content: "\f101";
  top: 0px;
  left: 0;
  font-size: 15px;
}
a.view_sectors_link {
  font-size: 13px;
  line-height: 21px;
}
.Sectors_single_content {
    padding: 0em 0.5em 1em 0.5em;
}
.Sectors_single_content ul li {
    font-size: 13px;
    line-height: 18px;
    padding-left: 1.5em;
    margin-bottom: 5px;
}
.hme_secondblk_secondcontent h4, .hme_second_inner span, .hme_second_inner strong {
    font-size: 18px;
    line-height: 30px;
}
.hme_secondblk_secondcontent {
    float: left;
    width: 100%;
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
}
.whychooseme_single_content h3 {
    font-size: 18px;
    line-height: 26px;
}
.footertop_title h4 {
  font-size: 21px;
  line-height: 30px;
  padding-left: 0em;
  text-align: center;
}
a.footer_schedulebtn {
  font-size: 16px;
  padding: 7px 25px 7px 10px;
  width: 160px;
}
.Sectors_single_content strong {
  font-size: 12px;
}
.footerfirst_lastaddress a.footer_contact_call {
  font-size: 18px;
  line-height: 28px;
  padding-left: 1.7em;
}
.footertop_schedule{
  padding: 0;
}
.footerbottom_section{
  margin-top: 1em;
}
.footer_copyrights p {
  margin: 0px 0 0 0;
  font-size: 14px;
  line-height: 28px;
}

}